---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="relative overflow-hidden">
		<Hero />
	</main>
</Layout>

<style>

</style>
