---
import { Fragment } from "astro/jsx-runtime";
import CardText from "./CardText.astro";
import Logo from "./Logo.astro";
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";
import CardImage from "./CardImage.astro";
---

<div class="relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12">
  <div class="mx-auto text-center">
    <div class="sm:flex sm:justify-center sm:mb-8"><Logo /></div>
    <h1
      class="text-cream mt-4 font-semibold md:text-6xl text-3xl tracking-tight font-sans"
    >
      Descubre el alma de Colombia en cada sorbo. Bienvenido al aroma
      inigualable de nuestro café.
    </h1>
    <h2
      class="text-cream mt-4 font-medium md:text-6xl text-3xl tracking-tight font-sans"
    >
      En cada grano, una historia; en cada taza, una experiencia inolvidable.
    </h2>
    <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row">
      <SecondaryButton href="/">Catalog</SecondaryButton>
      <PrimaryButton href="/">DM us for more</PrimaryButton>
    </div>
    <CardText
      title="Café Colombiano de Origen"
      body="Nuestro café colombiano de origen es cuidadosamente seleccionado de las fincas locales, garantizando frescura y sabor auténtico en cada taza. \n Descubre el rico perfil de sabores que solo las tierras cafeteras colombianas pueden ofrecer."
      color="red"
    />
    <CardText
      title="Café Colombiano de Origen"
      body="Nuestro café colombiano de origen es cuidadosamente seleccionado de las fincas locales, garantizando frescura y sabor auténtico en cada taza. \n Descubre el rico perfil de sabores que solo las tierras cafeteras colombianas pueden ofrecer."
      color="yellow"
    />

    <CardImage url="https://picsum.photos/300/300" />
  </div>
</div>
