---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="items-center h-12 justify-center rounded-full border-cream duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full text-cream font-medium lg:w-auto border focus-visible:outline-cream"
  href={href}
>
  <slot />
</a>
