---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="ASHUI" />
    <meta name="description" content="ASHUI DESCRIPTION" />
    <meta name="keywords" content="ASHUI KEYWORDS" />
    <meta name="color-scheme" content="light" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta http-equiv="content-security-policy" content="default-src https:" /> -->

    <meta property="og:title" content="ASHUI" />
    <meta property="og:description" content="ASHUI DESCRIPTION" />
    <meta property="og:image" content="ashui image" />
    <meta property="og:image:alt" content="Image of ashui alt" />
    <!-- 
    <link
      rel="alternate"
      href="https://www.ipmoviles.com/es/"
      hreflang="es-ES"
    /> -->
    <link rel="canonical" href="https://www.ipmoviles.com" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="bg-olive">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
</style>
